.App {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
}

.slider{
  aspect-ratio: 10/16;
  
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x proximity;
}
.slider img{
  width: 100%;
  left: 0;
  
  object-fit: cover;
  border-radius: 5px;
  
}



 



